* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --spread: .5em;
  --shift: .01em;
  --base: #4d70c7;
  --c1: #21c2f5;
  --c2: #9c63c7;
}

body {
  color: white;
  font-weight: bold;
}

.wrapper {
  position: absolute;
  z-index: 999;
  width: 95vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-shadow: 1px 1px black;
}

.top main {
  text-align: center;
  font-size: 4vmin;
  color: #fff;
}

.top h1 {
  font-weight: 100;
  margin: 0 0 .2em 0;
  font-size: 5em;
  letter-spacing: -.01em;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  color: transparent;
  text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
}

.top h1 span:nth-child(1) {
  -webkit-animation: flicker1 1s infinite alternate ease-in-out;
          animation: flicker1 1s infinite alternate ease-in-out;
}

.top h1 span:nth-child(2) {
  -webkit-animation: flicker1 1.5s infinite alternate ease-in-out;
          animation: flicker1 1.5s infinite alternate ease-in-out;
}

.top h1 span:nth-child(3) {
  -webkit-animation: flicker1 .47s infinite alternate ease-in-out;
          animation: flicker1 .47s infinite alternate ease-in-out;
}

.top h1 span:nth-child(4) {
  -webkit-animation: flicker2 .1s infinite alternate ease-in-out;
          animation: flicker2 .1s infinite alternate ease-in-out;
}

@-webkit-keyframes flicker1 {
  95% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
  }
  98% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}

@keyframes flicker1 {
  95% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
  }
  98% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}

@-webkit-keyframes flicker2 {
  90% {
    opacity: .1;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}

@keyframes flicker2 {
  90% {
    opacity: .1;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}

.top button {
  margin-top: 25px;
  padding: 20px 40px;
  border: 2px solid var(--c1);
  background: white;
  color: var(--c1);
  font-weight: bold;
}

.top button:hover {
  cursor: pointer;
  background: var(--c1);
  color: white;
}

.center li {
  display: none;
}

.center .current {
  display: block;
  -webkit-animation: smallFade 3000ms forwards;
          animation: smallFade 3000ms forwards;
  color: var(--c1);
}

@-webkit-keyframes smallFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smallFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */