<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Commands')">Commands</button>
  <button class="tablinks" onclick="openTab(event, 'Config')">Config</button>
</div>

<div id="Commands" class="tabContent active">
    <table id="commandsContainer">
      <tr class="titles">
        <th>Command</th>
        <th>Response</th>
        <th>Actions</th>
      </tr>
    </table>
</div>
<div id="Config" class="tabContent">
  <div id="configContainer">
    <select id="optionType"></select>
  </div>
</div>
<script src="./js/guildData.js"></script>