<div class="loader">
  <img src="./images/loader.png" alt="Loading">
</div>

<script>
  window.onload = () => {
    document.querySelector('.loader').style.display = 'none';
    document.querySelector('.wrapper').style.display = 'flex';
  }
</script>