<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./components/head') %>
</head>
<body>
  <%- include ('./components/loader') %>

  <div class="wrapper">
    <div class="top">
      <div class="header">
        <main>
          <h1><p><span>HplBot</span></p> <span>for</span> <span>Discord</span> <span>!</span></h1>
        </main>
        <div class="controls">
          <a href="/try"><button class="getItButton">GET IT</button></a>
          <a href="/template"><button class="templateButton">SERVER</button></a>
          <!-- <a href="/login"><button class="loginButton">LOG IN</button></a> -->
        </div>
      </div>
    </div>

    <div class="center">
      <ul class="features">
        <li>Automaticly use Twitch bot commands</li>
        <li>Get usefull logs in dedicated log channel</li>
        <li>Hplbot will always be <strong>Free</strong></li>
        <li>Open-source project</li>
        <li>Self-hosted, ready to use</li>
        <li>One-click setup</li>
        <li>Phrase customizations</li>
        <li>Manage roles</li>
        <li>Manage channels</li>
        <li>Creates temporary channels</li>
        <li>Clears temporary channels when empty</li>
      </ul>
    </div>

    <%- include ('./components/footer') %>
  </div>

  <%- include ('./components/particules') %>

  <script src="./js/main.js"></script>
</body>
</html>