<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HplBot : Discord | <%= title %></title>
  <link rel="stylesheet" href="./css/particles.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="wrapper">
    <%- app %>

    <div class="bottom">
      <div class="footer">
        <p>HplBot by <a href="http://hopollo.netlify.com">HoPollo</a></p>
      </div>
    </div>
  </div>


  <div id="particles-js"></div>
  
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="./js/particles.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>